ServerAPP/LumXEventsDictionarySchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LumXEventsDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="parameterKey">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="parameterKey">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="bool|byte|sbyte|char|datetime|decimal|double|float|int|uint|long|ulong|object|short|ushort|string"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            
            <xs:attribute name="name" type="xs:string" use="required"/>
            
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="group|bool|byte|sbyte|char|datetime|decimal|double|float|int|uint|long|ulong|object|short|ushort|string"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            
            <xs:attribute name="QoS" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="QoS0"/>
                  <xs:enumeration value="QoS1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="LumXEventsDictionaryVersion" type="xs:string" use="required"/>
      <xs:attribute name="LumXEventsSchemaVersion" type="xs:string" use="required" fixed="1.1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>